github "ReactiveX/RxSwift" ~> 4.0
github "shogo4405/HaishinKit.swift"
github "RxSwiftCommunity/RxAlamofire"
github "SwiftyJSON/SwiftyJSON"
github "socketio/socket.io-client-swift"
github "Anakros/WebRTC"
